.Fahrzeug {
  position: absolute;
  height: 2em;
  border: black 1px solid;
  box-sizing: border-box;

  &--wrongWing {
    background: darkgrey;

    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      left: -1px;
      right: -1px;
      bottom: -3.4em;
      z-index: 10;
      background: rgba(255, 255, 255, 0.65);
    }
  }

  &--closed {
    background: repeating-linear-gradient(135deg, #999, #999, 5px, transparent 5px, transparent 10px);
  }

  &__nummer {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }

  &__klasse {
    position: absolute;
    &--0 {
      &::after {
        content: '?';
      }
    }

    &--1 {
      background-color: yellow;
      &::after {
        content: '1';
      }
    }

    &--2 {
      background-color: red;
      &::after {
        content: '2';
      }
    }

    &--3 {
      background: linear-gradient(to right, yellow, red);
      &::after {
        content: '1/2';
      }
    }
    &--4 {
      left: 50%;
      transform: translateX(-50%);
      &::after {
        content: 'LOK';
      }
    }
  }

  &__icons {
    margin-left: 0.4em;
  }

  &--icon {
    width: 0.5em !important;
    height: 0.5em !important;
    @media screen and (max-width: 1200px) {
      font-size: 12px !important;
    }
  }

  &--type {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &--comfort {
    position: absolute;
    top: 0.2em;
    right: 0.3em;
    width: 0.7em;
    height: 0.7em;
    background-color: red;
    border-radius: 50%;
  }
}
