.FavEntry {
  min-height: 48px;
  margin-bottom: 1px;
  flex-shrink: 0;
  font-size: 2em;
  color: black;
  line-height: 1.3;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;

  > a  {
    color: black;
  }

  &:hover {
    background-color: rgb(238, 238, 238);
  }
}
