WEB_PORT=9042
AUSLASTUNGS_USER=
AUSLASTUNGS_PW=
OPENDB_AUTH_KEY=
OPENDATA_AUTH_KEY=
LOGGLY_TOKEN=
LOGGLY_SUBDOMAIN=
NODE_TLS_REJECT_UNAUTHORIZED=0
FEATURE_URL=
FEATURE_ID=
FEATURE_ENV=
TIMETABLES_OPEN_DATA_KEY=
