.Fahrzeug {
  position: absolute;
  height: 2em;
  border: black 1px solid;

  &__nummer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__klasse {
    &--0 {
      &::after {
        content: "?";
      }
    }

    &--1 {
      background-color: yellow;
      &::after {
        content: "1";
      }
    }

    &--2 {
      background-color: red;
      &::after {
        content: "2";
      }
    }

    &--3 {
      background: linear-gradient(to right, yellow, red);
      &::after {
        content: "1/2";
      }
    }
    &--4 {
      &::after {
        content: "TK";
      }
    }
  }

  &--rollstuhl {
    width: 1em !important;
    height: 1em !important;
  }

  &--type {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &--comfort {
    position: absolute;
    top: 0.2em;
    right: 0.3em;
    width: 0.7em;
    height: 0.7em;
    background-color: red;
    border-radius: 50%;
  }
}
