.Fahrzeug {
  position: absolute;
  height: 2em;
  border: black 1px solid;

  &--closed {
    background: repeating-linear-gradient(135deg, #999, #999, 5px, transparent 5px, transparent 10px);
  }

  &__nummer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__klasse {
    &--0 {
      &::after {
        content: '?';
      }
    }

    &--1 {
      background-color: yellow;
      &::after {
        content: '1';
      }
    }

    &--2 {
      background-color: red;
      &::after {
        content: '2';
      }
    }

    &--3 {
      background: linear-gradient(to right, yellow, red);
      &::after {
        content: '1/2';
      }
    }
    &--4 {
      &::after {
        content: 'TK';
      }
    }
  }

  &--icon {
    width: 0.5em !important;
    height: 0.5em !important;
  }

  &--type {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &--comfort {
    position: absolute;
    top: 0.2em;
    right: 0.3em;
    width: 0.7em;
    height: 0.7em;
    background-color: red;
    border-radius: 50%;
  }
}
