.Reihung {
  line-height: 1.3;
  font-size: 120%;
  height: 4em;
  margin-bottom:1em;
  margin-right: 3em;
  margin-left: 2em;
  position: relative;

  &__specificType {
    position: absolute;
  }

  &__sektoren {
    position: relative;
  }

  &__reihung {
    position: relative;
    margin-top:1em;
  }
}
