.Auslastung {
  display: flex;
  margin-bottom: 10px;
  &__entry {
    display: flex;
    flex-direction: column;
    margin-right: 0.5em;
    align-items: center;
  }

  &__icon {
    font-size: 70%;
    height: 1.4em;
    width: 1.4em;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    &.A0 {
      background-color: green;
    }
    &.A1 {
      background-color: yellow;
    }
    &.A2 {
      background-color: red;
    }
  }
}
