.Abfahrt {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.24) !important;
  cursor: pointer;
  flex-shrink: 0;
  margin-bottom: 0.3em;
  margin-top: 0.2em;
  overflow: visible;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  position: relative;

  &__entry {
    overflow: hidden;
    @media screen and (max-width: 1200px) {
      font-size: 0.36em;
    }
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 0.6em;
    line-height: 1;
    user-select: none;

    &__main {
      display: flex;
    }
  }

  & > .wing {
    position: absolute;
    border-left: 1px solid black;
    content: ' ';
    left: 0.3em;
    top: -1em;
    bottom: 0;

    &.wing--start {
      top: 0;
    }

    &.wing--end {
      bottom: 0.3em;
    }
  }

  & > .wing--start:before {
    content: '';
    border-left: 1em solid black;
    position: absolute;
    height: 1px;
  }
  & > .wing--end:after {
    content: '';
    border-left: 1em solid black;
    position: absolute;
    height: 1px;
    bottom: 0;
  }
}

.cancelled {
  text-decoration: line-through;
  text-decoration-color: black;
}

.changed,
.delayed {
  color: $red;
}

.early {
  color: $green;
}
