.End {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;

  &--delay {
    font-size: 3em;
    margin-right: 0.4em;
  }

  &__platform {
    font-size: 3em;
  }
}
