.Times {
  font-size: 2.4em;

  &__wrapper {
    display: flex;
    justify-content: flex-end;

    > span {
      color: black;
      white-space: pre-wrap;
    }
  }

  &--offset {
    margin-right: 0.4em;
  }
}
