# server_rootCA.csr.cnf
[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=DE
ST=Hamburg
L=HH
O=H
OU=local_RootCA
emailAddress=fake@email.de
CN = local.marudor.de
