certificate:
  enabled: true
  # commonName: '${{ .Release.API_KEY }}.marudor.de'
  # dnsNames:
  #   - '{{ .Release.Name }}.marudor.de'
  # domains:
  #   - '{{ .Release.Name }}.marudor.de'
  issuerName: http-issuer
  issuerKind: ClusterIssuer

docs: true
redis:
  host: redis2
  port: 6379

ingress:
  enabled: true
  annotations: {}

resources:
  requests:
    memory: '512Mi'
    cpu: '300m'
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

baseEnv:
  - name: USER_AGENT
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: USER_AGENT
        optional: true
  - name: DEFAULT_TTL
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: DEFAULT_TTL
        optional: true
  - name: IMPRINT_NAME
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: IMPRINT_NAME
  - name: IMPRINT_STREET
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: IMPRINT_STREET
  - name: IMPRINT_TOWN
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: IMPRINT_TOWN
  - name: RIS_STATIONS_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: RIS_STATIONS_CLIENT_SECRET
  - name: RIS_STATIONS_CLIENT_ID
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: RIS_STATIONS_CLIENT_ID
  - name: RIS_STATIONS_URL
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: RIS_STATIONS_URL
  - name: HIM_MAX_FETCH
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: HIM_MAX_FETCH
        optional: true
  - name: PRIVATE_API_URL
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: PRIVATE_API_URL
  - name: PRIVATE_API_KEY
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: PRIVATE_API_KEY
  - name: IRIS_URL
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: IRIS_URL
  - name: IRIS_FALLBACK_URL
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: IRIS_FALLBACK_URL
  - name: RIS_JOURNEYS_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: RIS_JOURNEYS_CLIENT_SECRET
  - name: RIS_JOURNEYS_CLIENT_ID
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: RIS_JOURNEYS_CLIENT_ID
  - name: RIS_JOURNEYS_URL
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: RIS_JOURNEYS_URL
  - name: COACH_SEQUENCE_CLIENT_ID
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: COACH_SEQUENCE_CLIENT_ID
  - name: COACH_SEQUENCE_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: COACH_SEQUENCE_CLIENT_SECRET
  - name: COACH_SEQUENCE_URL
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: COACH_SEQUENCE_URL
  - name: COACH_SEQUENCE_DISABLED
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: COACH_SEQUENCE_DISABLED
        optional: true
  - name: REFERER_BLOCK_LIST
    valueFrom:
      secretKeyRef:
        name: bahnhofs-abfahrten-config
        key: REFERER_BLOCK_LIST
        optional: true
