.Select-input > input {
  padding: 0 !important;
}

.Header {
  &__title {
    flex: 1;
  }
  > div {
    overflow: visible !important;
  }
  flex-shrink: 0;

  &__select {
    line-height: 32px;
  }
}
