.Select-input > input {
  padding: 0 !important;
}

.Header {
  > div {
    overflow: visible !important;
  }
  flex-shrink: 0;
  position: fixed !important;

  &__select {
    margin-top: 16px;
    line-height: 32px;
  }
}
