</div>
<% if (materialCss) {%>
    <style id="jss-server-side"><%- materialCss %></style>
  <%}%>
<% jsBundles.forEach(function(js){ %>
  <script src="/static/<%- js %>" defer></script>
<% }); %>
</body>
</html>
