.Mid {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;

  &--cancelled {
    text-decoration: line-through;
  }

  &--detail {
    white-space: normal;
  }

  &__destination {
    font-size: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
