.Times {
  font-size: 2.4em;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &--early {
    color: green;
    margin-right: 0.4em;
  }

  &--delay {
    color: red;
    margin-right: 0.4em;
  }
}
